<% title "Placeholder Title" %>
<% description "Placeholder description." %>
<% keywords "Placeholder keywords" %>

<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <p><%= truncate(movie.description, length: 50) %></p>
  <p>Directed By: <%= movie.director %></p>
<% end %>
